@media only screen and (max-width: 500px) {
    .logo {
      max-width: 50%;
      margin-bottom: 15px;
    }
  }

.logo > h1 {
    font-size: 32pt;
}

.logo:hover {
  cursor: default;
}

@media only screen and (min-width: 1000px) {
    .logo > h1 {
      font-size: 40pt;
  }
}