.message {
    padding: 10px 13px;
    margin: 3px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;
    box-shadow: var(--card-shadow-light);
    max-width: 75%;
}

.message:hover {
    cursor: default;
}

.message > p {
    text-align: left;
}

.leftMessage {
    background-color: var(--bot-message-color);
    color: var(--off-white);
    margin-right: auto;
    border-radius: var(--large-radius) var(--large-radius) var(--large-radius) 3px;
}

.rightMessage {
    background-color: var(--secondary-color);
    color: var(--off-white);
    margin-left: auto;
    border-radius: var(--large-radius) var(--large-radius) 3px var(--large-radius);
}