.message {
    padding: 10px 13px;
    margin: 4px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;
    box-shadow: var(--card-shadow-light);
}

.message:last-of-type {
    margin-top: 20px;
}

.message:hover {
    cursor: default;
}

.message > p {
    text-align: left;
}

.leftMessage {
    border-radius: var(--large-radius) var(--large-radius) var(--large-radius) 3px;
    background-color: rgb(80, 80, 80);
    color: var(--off-white);
    width: 50%;
}

.firstLeft {
    border-radius: var(--large-radius) var(--large-radius) 3px 3px;
    margin-bottom: 1px;
}

.lastLeft {
    border-radius: 3px 3px var(--large-radius) 3px;
}

.rightMessage {
    border-radius: var(--large-radius) var(--large-radius) 3px var(--large-radius);
    background-color: var(--secondary-color);
    color: var(--black-text);
    width: 50%;
    margin-left: auto;
}

.firstRight {
    border-radius: var(--large-radius) var(--large-radius) 3px 3px;
    margin-bottom: 1px;
}

.lastRight {
    border-radius: 3px 3px 3px var(--large-radius);
}