.message {
    padding: 10px 13px;
    margin: 3px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    word-break: break-word;
    box-shadow: var(--card-shadow-light);
}

.message:last-of-type {
    margin-top: 20px;
}

.message:hover {
    cursor: default;
}

.message > p {
    text-align: left;
}

.leftMessage {
    background-color: rgb(80, 80, 80);
    color: var(--off-white);
    margin-right: auto;
    border-radius: var(--large-radius) var(--large-radius) var(--large-radius) 3px;
}

.rightMessage {
    background-color: var(--secondary-color);
    color: var(--black-text);
    margin-left: auto;
    border-radius: var(--large-radius) var(--large-radius) 3px var(--large-radius);
}