.recipeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    margin: 0;
    background-color: var(--off-white);
    border-radius: var(--large-radius);
    box-shadow: var(--card-shadow-light);
}

.recipeButton:first-of-type {
    margin-right: 12px;
}

.recipeButton > p {
    font-weight: bold;
}

.recipeButton:hover {
    cursor: pointer;
}