.recipeButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    margin: 0 12px;
    background-color: var(--active-button);
    border-radius: var(--large-radius);
    box-shadow: var(--button-shadow);
    color: var(--active-buton-text);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.recipeButton > p {
    font-weight: bold;
}

.recipeButton:hover {
    cursor: pointer;
    transform: scale(1.03);
}