.cartBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--active-button);
    padding: 0 14px 0 14px;
    height: 36px;
    border-radius: var(--large-radius);
    box-shadow: var(--button-shadow);
    color: var(--active-buton-text);
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    margin-left: 6px;
}

.cartBtn > svg {
    margin-bottom: 1px;
}

.cartBtn:hover {
    cursor: pointer;
    transform: scale(1.02);
}