:root {
  --main-color: rgb(218, 190, 141);
  --main-color-light: rgb(235, 209, 164);
  --main-color-dark: rgb(193, 167, 122);
  --secondary-color: #a6575d;
  --bot-message-color: #646464;
  --secondary-color-dark: rgb(230, 133, 22);
  --warning-color: rgb(185, 20, 20);
  --warning-color-dark: rgb(160, 21, 21);
  --green-border: 1px solid rgb(192, 238, 212);
  --gray-border: 1px solid rgb(221, 221, 221);
  --small-radius: 10px;
  --large-radius: 15px;
  --black-text: rgb(25, 25, 25);
  --off-white: rgb(245, 245, 245);
  --disabled-button-color: rgb(200, 200, 200);
  --unselected-button: rgb(166, 224, 194);
  --card-shadow: 0 1px 10px rgb(181, 155, 110);
  --card-shadow-light: 0 0 5px rgb(181, 155, 110);
  --button-shadow: 0 0 5px rgb(181, 155, 110);
  --list-shadow: inset 0px 0px 4px rgb(181, 155, 110);
  --screen-shadow: 0px 0px 8px rgb(93, 79, 55);
  --screen-shade: rgb(115, 98, 69);
  --active-button: #495886;
  --active-buton-text: rgb(245, 245, 245);
}