h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: bold;
}

p, input, li {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

input {
  font-size: 16px;
  color: var(--black-text);
}

h1, h2, h3 {
  color: var(--black-text);
}

body {
  margin: 2vh 6%;
  background-color: var(--main-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
