.cartHeader {
    border-bottom: none;
    width: calc(100% - 80px);
    margin-bottom: 8px;
    padding: 0 40px;
}

@media only screen and (max-width: 500px) {
    .cartHeader {
        width: calc(100% - 40px);
        padding: 0 20px;
    }
}