.listSelector {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    align-self: flex-start;
    border-bottom: 2px solid var(--main-color-dark);
}

.selected {
    background-color: var(--main-color-dark);
}

.unselected {
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.unselected:hover {
    background-color: rgb(210, 186, 143);
}

.listSelector > p {
    padding: 0 20px;
    height: 36px;
    border-radius: var(--small-radius) var(--small-radius) 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.listSelector > p:hover {
    cursor: pointer;
}