.listSelector {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    align-self: flex-start;
}

.selected {
    background-color: var(--main-color-light);
}

.unselected {
    background-color: var(--main-color-dark);
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.unselected:hover {
    background-color: rgb(166, 226, 195);
}

.listSelector > p {
    padding: 0 20px;
    height: 36px;
    border-radius: var(--small-radius) var(--small-radius) 0 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 -3px 5px -6px #69aa8a;
}

.listSelector > p:hover {
    cursor: pointer;
}