.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 80px);
    margin-bottom: 0px;
    padding: 5px 0 10px;
    border-bottom: 2px solid var(--main-color-dark);
}

.cardHeader > svg {
    color: var(--warning-color);
}

.cardHeader > svg:hover {
    cursor: pointer;
    color:var(--warning-color-dark);
}