.addIngredientsButtonContainer {
    background-color: var(--active-button);
    width: 130px;
    height: 22px;
    padding: 5px 43px 5px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--off-white);
    border-radius: var(--large-radius);
    box-shadow: var(--button-shadow);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.addIngredientsButtonContainer:hover {
    transform: scale(1.01);
}

.servings > input {
    width: 31px;
    height: 11px;
    border: none;
    background-color: var(--off-white);
    border-radius: 10px;
    text-align: center;
}

.servingsArrows {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(105, 158, 130);
    border-right: 1px solid rgb(105, 158, 130);
}

.servingsArrows > svg:hover {
    cursor: pointer;
}

.servingsArrows > svg:first-of-type {
    margin: 0 7px 0 12px;
}

.servingsArrows > svg:last-of-type {
    margin: 0 12px 0 7px;
}

.cartIcon {
    padding-left: 12px;
}

.cartIcon:hover {
    cursor: pointer;
}