.recipeCartContents {
    overflow-y: scroll;
    text-align: left;
    padding: 7px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.recipeCartContents > p {
    padding: 8px;
    width: calc(100% - 16px);
}

.recipeCartContents > p:not(:first-of-type) {
    border-top: 1px solid var(--main-color-dark);
}

.centered {
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.centered > p {
    display: flex;
    justify-content: center;
    align-items: center;
}