.chatbox {
    height: 50vh;
    border-radius: var(--small-radius);
    padding-bottom: 0;
    display: flex;
    width: 100%;
    max-width: 750px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color-light);
    box-shadow: var(--card-shadow);
    margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
    .chatbox{
      width: 100%;
      margin-bottom: 20px;
    }
  }

@media only screen and (min-width: 1000px) {
    .chatbox {
        height: 68vh;
    }
}