.cartContents {
    width: calc(100% - 80px);
    padding: 0 40px;
    height: 100vh;
    margin-top: 5px;
}

.cartList {
    overflow: scroll;
    background-color: var(--main-color-light);
    box-shadow: var(--card-shadow-light);
    border-radius: 0 var(--small-radius) var(--small-radius) var(--small-radius);
    height: 63vh;
    width: 100%;
    padding: 10px 0;
}

.taller {
    height: 65vh;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.printButton {
    background-color: var(--active-button);
    color: var(--active-buton-text);
    box-shadow: var(--button-shadow);
    padding: 8px 15px;
    margin: 19px 0 13px;
    border-radius: var(--large-radius);
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: right;
    transition-property: transform;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.printButton:hover {
    cursor: pointer;
    transform: scale(1.02);
}