.recipeDescription {
    width: 68%;
    overflow: scroll;
    padding: 20px 15px 0 0;
    text-align: left;
    margin-right: 15px;
    height: 81vh;
}

.recipeDescription > p:not(:first-of-type) {
    margin: 4px 0;
}

.instructions {
    padding-bottom: 35px;
}

.recipeInstructions {
    margin-top: 12px !important;
}

.recipeInstructions:first-of-type {
    margin-top: 18px !important;
    padding-top: 15px;
    border-top: 1px solid var(--main-color-dark);
}

@media only screen and (max-width: 500px) {
    .recipeDescription {
        height: 400px;
        width: calc(100% - 30px);
    }
}