.recommendedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 55%;
}

@media only screen and (max-width: 1000px) {
    .recommendedContainer {
        width: 100%;
        border-radius: var(--small-radius);
        padding: 4px 0;
        margin-bottom: 20px !important;
    }
  }

.recommendedContainer > h2 {
    margin-bottom: 10px;
}

.noRecipes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.recommendedScroll {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

@media only screen and (min-width: 1000px) {
    .recommendedScroll {
        height: 68vh;
        gap: 15px;
    }
}