.cartItem {
    padding: 10px 20px 10px 5px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--main-color-dark);
    font-weight: bold;
    position: relative;
}

.cartItem:first-of-type {
    border-top: none;
}

.recipeItem {
    padding: 15px 20px 15px 15px;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.cartItem:hover {
    cursor: default;
}

.recipeItem:hover {
    cursor: pointer;
    background-color: var(--main-color-dark);
}

.cartItem > p {
    padding: 0 10px;
}

.cartItem > img {
    border-radius: 6px;
    height: 75px;
    box-shadow: var(--card-shadow);
}

.cartItem > svg {
    color: var(--warning-color);
}

.cartItem > svg:hover {
    color:var(--warning-color-dark);
    cursor: pointer;
}

.cartIngredient {
    text-align: left;
}

.click {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.recipeItem:first-of-type {
    border-radius: var(--large-radius) var(--large-radius) 0 0;
}

.recipeItem:last-of-type {
    border-radius: 0 0 var(--large-radius) var(--large-radius);
}

.delete {
    z-index: 5;
}