.cartItem {
    padding: 10px 15px 10px 0;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--main-color-dark);
    font-weight: bold;
}

.cartItem:first-of-type {
    border-top: none;
}

.recipeItem {
    padding: 15px 12px 15px 8px;
}

.cartItem:hover {
    cursor: pointer;
}

.cartItem > p {
    padding: 0 15px;
}

.cartItem > img {
    border-radius: 6px;
    height: 90px;
    box-shadow: var(--card-shadow);
}

.cartItem > svg {
    color: var(--warning-color);
}

.cartItem > svg:hover {
    color:var(--warning-color-dark);
}

.cartIngredient {
    text-align: left;
}

.delete {
    z-index: 5;
}